asgiref==3.6.0
backports.zoneinfo==0.2.1
certifi==2023.5.7
charset-normalizer==3.1.0
crispy-bootstrap5==0.7
disposable-emails==1.1.0
Django==4.2.1
django-admin-honeypot-updated-2021==1.2.0
django-admin-thumbnails==0.2.7
django-crispy-forms==2.0
django-ipware==5.0.0
django-recaptcha==3.0.0
django-session-timeout==0.1.0
django-tinymce==3.6.1
idna==3.4
Pillow==9.5.0
python-decouple==3.8
python-http-client==3.3.7
pywin32==306
requests==2.30.0
sendgrid==6.10.0
six==1.16.0
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
tzdata==2023.3
urllib3==2.0.2
