{% extends 'base.html' %}

{% load static %}

{% block content%}


<section class="section-intro padding-y-sm">

    <div class="container">
<div >
    <img class="d-block w-100"  height="300" src="{% static 'images/About_us.png' %}"> 
</div >
<br>

<div class="text-center">
    <h3> We connect people and build communities to create economic opportunity for all</h3>
<p> 
At NiroCart, we create pathways to connect millions of sellers and buyers in more than 190 markets around the world. 
Our technology empowers our customers, providing everyone the opportunity to grow and thrive — no matter who they are or where they are in the world. And the ripple effect of our work creates waves of change for our customers, our company, our communities and our planet.
    
</p>
    </div>
</div>
<br>

<div>
    <center>
    <iframe width="800" height="400" 
        src="https://www.youtube.com/embed/sO4te2QNsHY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
    </iframe>
    </center>
</div>





</section>

{% endblock %}