{% extends 'base.html' %}

{% load static %}

{% block content%}






<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <h1>Career</h1>
    <br>

   
    <h3 class="text-center"> Awards & Recognition</h3>
    <p class="text-center">
        
From creating a workplace environment where employees can be their authentic selves, to being a responsible business with a commitment to the community – we're breaking down barriers and helping to foster opportunity for all.



    </p>

    </div>

</section>
{% endblock %}